.Content {
    margin-top: 21px;
}

.Logo {
    background-color: white;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100px;
    img {
        height: 100%;
        width: 100%;
    }
}
