@import "../../style/main.scss";

.Header {
    width: 75%;
    height: 4vh;
    background-color: $purple;
    margin: auto;
    display: flex;
    flex-direction: column;
    @include respond(phone) {
        width: 100vw;
        height: 6vh;
    }

    @include respond(tab-1200) {
        width: 100%;
    }

    & .Title {
        margin: 2px;
        color: $text-body;
        font-size: $big-size;
        font-weight: 500;
        text-align: center;

        @include respond(phone) {
            text-align: center;
        }
    }
}
