@import "../../../models/style/main.scss";

.Table {
    // @include settingsBody;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    @include respond(phone) {
        font-size: $small-size;
    }

    & table {
        margin: 1px auto;
        width: 35%;
        margin-right: 1.1rem;
        // position:absolute;
        top: 0;
        & thead {
            & tr {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                border-bottom: 1px solid $text-hint;

                & th {
                    flex: 1;
                    padding: 12px 0px;
                    font-weight: 500;
                    line-height: 1.2rem;
                    flex-wrap: nowrap;

                    white-space: nowrap;
                    color: $text-body;

                    @include respond(phone) {
                        // padding: 10px;

                        padding-top: 0;
                        line-height: 1rem;
                    }
                }
            }
        }

        & tbody {
            & tr {
                width: 100%;
                margin: auto;
                display: flex;
                flex-direction: row;

                justify-content: space-around;
                align-items: center;
                // background-color: $text-body;
                @include respond(tab-1200) {
                    margin: 5px;
                }

                &:nth-child(even) {
                    background-color: #d6d4cf;
                }

                & td {
                    text-align: center;
                    flex: 1;
                    display: table-cell;
                    padding: 0px;
                    margin: 0px;
                    font-weight: 400;
                    line-height: 1.43;
                    letter-spacing: 0.01071em;
                    color: $text-body;

                    @include respond(phone) {
                        // padding: 15px;
                        padding-top: 0;
                        // text-align: right;
                    }
                }
            }
        }
    }
}

.TableForm {
    // width: 10vw;
    // height: 20vw;
    margin: 1px;
    padding: auto;

    align-items: left;
    & .Input {
        margin: 5px;
        padding: 5px;
        width: 90%;
        display: flex;
        flex-direction: row;
    }
}
